.last{
        background-color: #457d58;
        text-align: center;
        color: white;
        font-size: small;    
        padding:20px 16px;   
}

.fa-facebook {
    background: #929292;
    color: white;
    padding: 10px;
    border-radius: 12px;
  }
  
  .fa-twitter {
    background: #929292;
    color: white;
    padding: 10px;
    border-radius: 12px;
  }

  .fa-instagram {
    background: #929292;
    color: white;
    padding: 10px;
    border-radius: 12px;
  }

  .fa-facebook:hover {
    background: #929292;
    color: white;
    padding: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 12px;  
    transition: 0.5s;
}
  
  .fa-twitter:hover {
    background: #929292;
    color: white;
    padding: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 12px;  
    transition: 0.5s;
}

  .fa-instagram:hover {
    background: #929292;
    color: white;
    padding: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    transition: 0.5s;
}
