 .first{
background-color: #457d58;
text-align: center;
color: white;
}

 .first .button{
    background-color: white; /* Green */
    border: none;
    color: #457d58;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
 }

 .first .button:hover {
    background-color: #8d8d8d;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.first img{
    border-radius: 12px;
    height: 200px;
    width: auto;
}